*{
  margin: 0%;
  padding: 0%;
}
body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color:ghostwhite;
}

/* .mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
} */

/* .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
} */

/* .card-img-actions {
    position: relative
} */
/* 
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
} */

.card-img {
    width: 650px
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}
.centralSearch{
    
    width: 85%;
    height: 35%;
    margin-left :auto;
    margin-right:auto;
    border-radius : 2em;
    background: linear-gradient(0deg, rgba(52,61,85,1) 0%, rgba(52,144,220,1) 48%)!important;
    text-align: center;
    /* opacity: .9; */
  
   
}
.firstPhoto{
  
    /* background-image: url("http://localhost:8000/logo_vapren.jpg");  */
    
    opacity: .7;
    background-repeat: repeat;
    /* overflow: hidden; */
    height: 60vh;

}
.category{
    /* border: 1px solid black;
    border: 1px grey 1 ;
    width: 35% !important;
    height: 50% ;
    background-color: rgb(253, 253, 251);
    text-align: center; */
   

}
.pattern{
    /* border: 1px solid black;
    width: 35%;
    height: 50%;
    background-color: rgb(253, 253, 251);
    text-align: center; */

}

.options{
    font-size: larger;
}
.ITEM{
    font-size: 1.3rem;
    font-style: italic;

}

    

input[type=number] {

  
   width: 30%;
 
  padding-top: 1%;
  font-size: 100%;
  align-content: center; 
 
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.bodyCard{
  min-height: 0vh;
  display: flex;
  align-items: center;
  
}
.wrapperCard{
  width: 100%;
  /* background: rgb(52,61,85);
  background: linear-gradient(0deg, rgba(52,61,85,1) 0%, rgba(52,144,220,1) 48%); */
 
 
}
.carousel{
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
}
.carousel .card{
  color: rgb(5, 0, 0);
  text-align: center;
  margin: 25px 0;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
  height: 80px;
}
.carousel .card-1{
  
  background-image: url("http://localhost:8000/card_1_cuidaLoQueDisfrutas.jpg"); 
  font-size: 40%;
 

}
.carousel .card-2{
  background-image: url("http://localhost:8000/card_2_mercadoPago.jpg"); 
  
}
.carousel .card-3{
  background-image: url("http://localhost:8000/card_3_envio.jpg"); 

}
.carousel .card-4{
  background-image: url("http://localhost:8000/card_4_todosLosClimas.jpg"); 
}
.carousel .card-5{
  
.owl-dots{
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(240, 227, 227, 0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background : white!important;
}
